
html {
  height: 100%;
}

body {
  min-height: 100%;
}

.full-size {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 0px;
  height: 103%;
}

#header-logo {
  width: 100px;
  margin: auto;
}

#page-stripes {
  pointer-events: none;
}

#intro {
  background: rgb(22, 23, 26);
  pointer-events: none;
}

#logo-container {
  transform-origin: 50% 50%;
  transform: scale(0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

#logo-container > svg {
  width: 70vw;
  height: 70vh;
  max-width: 640px;
  max-height: 536px;
}

.animated-text-stripes {
  text-align: left;
}