
body {
  /* background-color: #16181b; */
  background-color: black;
  color: white;
  font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial";
  font-family: 'Noto Sans', sans-serif;
  margin: 0px;
  display: flex;
  justify-content: center;
}

#app {
  width: 100%;
}

.header-left-alt {
  /* text-align: center; */
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex: 2.5;
  margin-left: 30px;
}

.header-right-alt {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.AltNameAndLogo {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 100px;
}

.header {
  background-color: rgb(22, 23, 26);
  padding: 30px 0px;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  line-height: 25px;
  width: 100%;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.header-left {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.city {
  color: rgb(122, 124, 128);
}

.name {
  font-size: 25px;
  padding: 7px 0px;
}

.social-icon {
  padding: 10px 5px;
  fill: rgb(122, 124, 128);
  width: 25px;
  height: 19px;
  cursor: pointer;
}

.social-icon:hover {
  fill: rgb(161, 163, 167);
}

.header-right {
  text-align: center;
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
  flex: 1;
}

.index {
  text-align: left;
}

.index-title {
  font-size: 25px;
  /* padding-top: 30px; */
  padding-bottom: 15px;
}

.index-2nd-title {
  font-size: 25px;
  padding-top: 25px;
  padding-bottom: 9px;
}

.index-subtitle {
  padding-bottom: 4px;
  font-size: 14px;
  color: rgba(122, 124, 128, 0.623);
}

.index a {
  color: rgb(122, 124, 128);
  text-decoration: none;
  cursor: pointer;
}
.index a:hover {
  color: rgb(161, 163, 167);
}


.footer {
  padding: 30px 0px;
  text-align:center;
  font-size: 40px;
  line-height: 60px;
}

.logo {
  width: 73px;
  height: 51px;
  padding-bottom: 10px;
  fill: white;
  margin: 0 auto;
}

.image-item {
  padding: 10px 20px;
}

.image-img {
  border-radius: 25px;
  width: 100%;
}

.section {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 50px auto;
  padding: 40px;
  max-height: 700px;
  max-width: 1200px;
  overflow: hidden;
  background-color: rgb(22, 23, 26);
  border-radius: 25px;
}
.section-left {
  flex: 2;
  overflow: hidden;
}

.section-right {
  overflow: scroll;
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  flex: 4;
  /* border-top: 6px solid #A8EB12;
  border-bottom: 6px solid #A8EB12; */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.section-right::-webkit-scrollbar {
  display: none;
}

.section-title {

}

.section-description {
  color: rgb(113, 115, 128);
  line-height: 30px;
}

.scroll-outer {
  position: relative;
  pointer-events: none;
}

.scroll-inner {
  position: absolute;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  will-change: opacity;
  top: 500px;
  width: 100%;
  height: 300px;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

#scroll-text {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 900;
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 0px;
}

#scroll-svg1 {
  width: 19px;
  will-change: transform;
}

#scroll-svg2 {
  width: 11px;
  margin-top: 5px;
  will-change: transform;
}

#scroll-svg3 {
  width: 11px;
  margin-top: 3px;
  will-change: transform;
  margin-bottom: 50px;
}

.markdown-header {
  color: white;
  background-color: #202f3d;
  /* border-color: #c8e1ff;
  border: 1px solid #d1d5da; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 8px 16px;
  display: flex;
}

.markdown-filename {
  align-self: flex-start;

}

.markdown-content {
  background-color: black;
  color: white;
}

.markdown-content p {
  margin-block-start: 0em !important;
  padding-block-start: 1em !important;
  margin-block-end: 0em !important;
  padding-block-end: 1em !important;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 50px;
  align-items: center;
  justify-content: center;
  max-width: 1250px;
  margin: 0 auto;
}

.card-wrap {
  height: 234px;
  width: 257px;
  overflow: hidden;
  border-radius: 5px;
  border: 1.3px solid rgba(170, 170, 170, 0.33);
  position: absolute;
}

.card-container {
  margin: 10px;
  position: relative;
  height: 257px;
  margin-top: 50px;
  width: 257px;
}

.card-title {
  position: absolute;
  top: -62px;
  text-align: left;
  z-index: 999;
  font-size: 20px;
  width: 100%;
  color: rgb(122, 124, 128);
  font-family: 'Noto Sans', sans-serif;
  top: -30px;
  position: absolute;
}

.card-subtitle {
  padding-bottom: 4px;
  font-size: 16px;
  color: rgba(122, 124, 128, 0.623);
}

.card-img {
  object-fit: cover;
  width: 100%;
  min-height: 100%;
}

.card-description {
  transition: .2s;
  transform: translateY(1em);
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 14px;
  font-size: 20px;
}

.card-wrap:hover .card-description {
  transform: translateY(0);
}

.card-description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.card-wrap:hover .card-description_layer {
  visibility: visible;
  opacity: 1;
}
