@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/NotoSans.woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'futura-med'; /* wide san serif */
  src: url("../fonts/Futura_Medium_BT.ttf");
}

@font-face {
  font-family: 'legnsb'; /* style san serif */
  src: url("../fonts/LEGSNB__.TTF");
}

@font-face {
  font-family: 'myriad-light'; /* thin */
  src: url("../fonts/MyriadPro-LightSemiExt.otf");
}

@font-face {
  font-family: 'avan'; /* super thin */
  src: url("../fonts/AVANGELI.TTF");
}

@font-face {
  font-family: 'bio'; /* italic serif */
  src: url("../fonts/bio.otf");
}

@font-face {
  font-family: 'links'; /* sarif */
  src: url("../fonts/ChaparralPro-LightCapt.otf");
}

@font-face {
  font-family: 'github'; /* narrow san serif */
  src: url("../fonts/COLLEGIA.ttf");
}

body {
  background-color: black;
  color: white;
  margin: 0px;
  display: flex;
  justify-content: center;
  font-family: 'Noto Sans', sans-serif; /* less thin */
}

#app {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  line-height: 25px;
  padding: 65px 9vw 40px 9vw;
  background-color: rgb(22, 23, 26);
  margin-bottom: 45px;
  font-family: 'Noto Sans', sans-serif; /* less thin */
}

.header-left {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  /* margin-left: 120px; */
}

.name-and-logo {

}

.city {
  color: rgb(122, 124, 128);
}

.name {
  font-size: 25px;
  padding: 7px 0px;
}

.social-icon {
  padding: 10px 5px;
  fill: rgb(122, 124, 128);
  width: 25px;
  height: 19px;
  cursor: pointer;
}

.social-icon:hover {
  fill: rgb(161, 163, 167);
}

.header-right {
  flex-direction: column;
  flex: 1;
  display: flex;
  justify-content: center;
}

.about {
  text-align: left;
  padding-bottom: 4px;
  font-size: 18px;
  line-height: 25px;
  color: rgb(122, 124, 128);
  max-width: 600px;
  /* padding-top: 40px; */
}

.about-sentance {
  padding: 10px 0;
}

.about-emphasis {
  color: white;
}

.hello {
  color: rgba(122, 124, 128, 0.75);
  padding-right: 20px;
}

.index {
  text-align: left;
}

.index-title {
  font-size: 25px;
  padding-top: 30px;
  padding-bottom: 15px;
}

.index-2nd-title {
  font-size: 25px;
  padding-top: 25px;
  padding-bottom: 9px;
}

.index-subtitle {
  padding-bottom: 4px;
  font-size: 14px;
  color: rgba(122, 124, 128, 0.623);
}

.index a {
  color: rgb(122, 124, 128);
  text-decoration: none;
  cursor: pointer;
}
.index a:hover {
  color: rgb(161, 163, 167);
}

.footer {
  padding: 30px 0px;
  text-align:center;
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif; /* less thin */
}

.slogan1 {
  font-family: 'avan'; /* super thin */
  font-size: 69px;
  /* font-size: 6vw; */
}

.slogan2 {
  font-family: 'avan'; /* super thin */
  font-size: 25px;
  /* font-size: 2.5vw; */
  padding-bottom: 30px;
}

.made-using {
  color: rgb(122, 124, 128);
  font-size: 18px;
  padding: 15px;
}
.fork-on {
  color: rgb(122, 124, 128);
  font-size: 18px;
}

.github-link {
  font-family: 'github';
  /* color: rgb(122, 124, 128); */
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  padding: 0 1px;
}
.github-link:hover {
  color: rgb(161, 163, 167);
}

a {
  font-family: 'github';
  /* color: rgb(122, 124, 128); */
  color: white;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: rgb(161, 163, 167);
}

.logo {
  width: 73px;
  height: 51px;
  padding-bottom: 10px;
  fill: white;
  margin: 0 auto;
}

.image-img {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
}

.date-divider-text {
  font-family: 'avan'; /* super thin */
  font-size: 35px;
  position: relative;
  font-weight: 100;
  padding-left: calc(28px + 5vw) ;
  color: rgb(122, 124, 128);
}

.date-divider {
  position: absolute;
  width: 2000px;
  height: 50px;
  background: transparent url('../images/divider_left.gif') 0 0 no-repeat;
  top: 15px;
  left: calc(-1982px + 5vw);
}

.date-divider-text-right {
  font-family: 'avan'; /* super thin */
  font-size: 35px;
  position: relative;
  font-weight: 100;
  padding-right: calc(28px + 5vw) ;
  text-align: right;
  color: rgb(122, 124, 128);
}

.date-divider-right {
  position: absolute;
  width: 2000px;
  height: 50px;
  background: transparent url('../images/divider_left.gif') 0 0 no-repeat;
  right: calc(-1982px + 5vw);
  top: -23px;
  transform: rotate(180deg);
}

.section {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0px auto 50px auto;
  padding: 40px;
  max-width: 2000px;
  overflow: hidden;
  background-color: rgb(22, 23, 26);
  border-radius: 25px;
  font-family: 'Noto Sans', sans-serif; /* less thin */
}

.section-left {
  flex: 2;
  overflow: hidden;
  font-family: 'futura-med'; /* wide san serif */
}

.section-title {
  margin-top: 0px;
  font-family: 'myriad-light'; /* thin */
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 35px;
}

.section-description {
  font-family: 'Noto Sans', sans-serif; /* less thin */
  font-weight: 100;
  font-size: min(calc(6px + 1vw), 22px);
  line-height: min(calc(12px + 1.5vw), 40px);
  color: rgb(113, 115, 128);
}

.section-right {
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  overflow: scroll;
  flex: 4;
  margin-left: 2vw;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.section-right::-webkit-scrollbar {
  display: none;
}

.frame-top {
  overflow: hidden;
  white-space: nowrap;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  align-items: center;
  width: calc(100% - 44.5px);
  padding: 7px 15px;
  font-family: 'Noto Sans', sans-serif;
  background: #f2f2f2;
  box-shadow: inset 0 0 1px #000;
}

.frame-text {
  color: #858585;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  font-family: 'Noto Sans', sans-serif; /* less thin */

}

.frame-link {
  display: flex;
  padding-left: 2px;
  justify-content: flex-start;
  fill: rgb(122, 124, 128);
  cursor: pointer;
}

.frame-link:hover {
  fill: rgb(161, 163, 167);
}

.bottom-line {
  position: absolute;
  top: calc(69vh - 1px);
  width: calc(100% - 15px);
  z-index: 99;
  border-bottom: 1px solid rgb(225, 228, 232, .2);
}

.divider {
  color: #8080803d;
  padding: 0 4px;
}

.scroll-outer {
  position: relative;
  pointer-events: none;
}

.scroll-inner {
  position: absolute;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  justify-content: center;
  align-items: center;
  will-change: opacity;
  bottom: 0;
  width: 100%;
  height: -900px;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(22, 23, 26, 1) 100%);
  z-index: 100;
}

.scroll-text {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 900;
  font-size: 17px;
  line-height: 30px;

  font-size: 23px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 0 0 7px 0;
  text-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.3);
}

.scroll-svg1 {
  width: 28px;
  will-change: transform;
  filter: drop-shadow(0.1em 0.1em rgba(0, 0, 0, 0.3));
}

.scroll-svg2 {
  width: 18px;
  margin-top: 5px;
  will-change: transform;
  filter: drop-shadow(0.1em 0.1em rgba(0, 0, 0, 0.3));
}

.scroll-svg3 {
  width: 13px;
  margin-top: 3px;
  will-change: transform;
  filter: drop-shadow(0.1em 0.1em rgba(0, 0, 0, 0.3));
  margin-bottom: 24px;
}

.markdown-content {
  background-color: rgba(225, 228, 232, .05);
  padding: 0 15px;
  overflow: hidden;
  border: 1px solid rgb(225, 228, 232, .2);
  color: rgb(212, 212, 212);
  line-height: 26px;
  font-family: 'Noto Sans', sans-serif; /* less thin */
  font-weight: 100;
  font-size: 17px;
  line-height: 30px;
}

.markdown-content p {
  margin-block-start: 0em !important;
  padding-block-start: 1em !important;
  margin-block-end: 0em !important;
  padding-block-end: 1em !important;
}

.gallery {
  /* margin: 0px 130px 0px 130px; */
}

.gallery-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 5px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 25px;
}

.card-group {
  display: flex;
}

.card-wrap {
  height: 234px;
  width: 257px;
  overflow: hidden;
  border-radius: 5px;
  border: 1.3px solid rgba(170, 170, 170, 0.33);
  position: absolute;
}

.card-container {
  margin: 10px;
  position: relative;
  height: 257px;
  margin-top: 50px;
  width: 257px;
}

.card-section-title-container {
  position: relative;
}

.card-section-title {
  position: absolute;
  font-size: 22px;
  left: -127px;
  margin-right: 5px;
  text-align: right;
}

.card-title {
  position: absolute;
  top: -62px;
  text-align: left;
  z-index: 999;
  font-size: 19px;
  width: 100%;
  color: rgb(122, 124, 128);
  top: -30px;
  position: absolute;
}

.card-subtitle {
  padding-bottom: 4px;
  font-size: 16px;
  color: rgba(122, 124, 128, 0.75);
}

.card-img {
  object-fit: cover;
  width: 100%;
  min-height: 100%;
}

.card-description {
  transition: .2s;
  transform: translateY(1em);
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 14px;
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif; /* less thin */
}

.card-wrap:hover .card-description {
  transform: translateY(0);
}

.card-description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.card-wrap:hover .card-description_layer {
  visibility: visible;
  opacity: 1;
}
